POSTGRES_DBNAME=ota_db
POSTGRES_SCHEMA=public
POSTGRES_USER=mageuser
POSTGRES_PASSWORD=magepass

SMTP_EMAIL=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
