# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Mage
ota_monitor/metadata.yaml
ota_monitor/.mage_variables.json
ota_monitor/pipelines/*/.variables.json

# Docker
postgres_data/
